@charset "UTF-8";

/* Estilo para impressoras */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}

h1{
    text-align: center;
    padding: 20px;
}

p {
    margin: 20px 0px;
}

menu {
    display: none;
}

article {
    text-align: justify;
    padding: 3em 1em;
}

article::after {
    content: 'Este artigo foi impresso através do site www.imbecilhumanidade.com';
}

